header {
  display:flex;
  border-bottom: 1px solid black;
  align-items: center;
  font-family: Verdana, DejaVu Sans;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 0 15px;
  z-index: 1;

}
.logo {
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1
}
.logo span {
  padding-left: 10px;

}
header nav {
  padding-right: 60px
}
a {
  color:black;
}


/* Main Content */
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  width: 1200px;
  font-family: Georgia, Bitstream Charter;
  justify-content:center;
}

 .headline {
   display: flex;
   width: 620px;
   flex-direction: column;
   margin: 0 5px;

 }



.story1 {
  width: 300px;
  margin: 0 5px;

}
.story2 {
  width: 300px;
  margin: 0 5px

}

.textstory{
  font-size: 17px;
  font-family: Georgia, Bitstream Charter;
  color:black;
}
.news {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
.bites {
background-color: WhiteSmoke;
font-family: Verdana, DejaVu Sans;
font-size: 12px;
color: DimGray;
border-bottom: 1px solid black;
padding:15px 20px;
width: 200px
}


/* Images */


#imagedecor {
  font-family: Georgia, Bitstream Charter;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  width: 300px;
  display: flex;
}

.headlineimage {
background-image: url(../resources/images/story-main.png);
height: 300px;
color:white;
font-family: georgia,bitstream charter;
font-size: 40px;
font-weight: bold;
}
.fallimage {
  background-image: url(../resources/images/fallseason.png);
}
.cameraimage{
  background-image: url(../resources/images/cameraman.png);
}
.catimage {
  background-image: url(../resources/images/catceo.png);
}


/*Columns */

.largecolumn  {
  display: flex;
  flex-direction: row;
  width: 630px;
  height: 1100px;
  flex-wrap: wrap;
 }

.mediumcolumn {
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 10px 10px;
  margin: 0 10px
  }

.smallcolumn {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 240px;
  margin: 0 10px
  }

/*FOOTER*/
.footer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana, DejaVu Sans;
  font-size: 12px;
  height: 400px;
}
.bottomnav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:500px;
}
#footerlogo {
  font-family: Georgia, Bitstream Charter;
  font-size: 16px;
  font-weight: bold;
  color: white;

}
.bottomnav nav span {
  padding: 0 5px;

}
.copyright{
  width: 500px;

  text-align: center;
}
